/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    color: #4a4a4a;
}

header {
    background-color: #899fc6;
    color: #eeeeee;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #eeeeee;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
}

h2 {
    font-size: 2rem;
}

.cv-pdf {
    width: calc(100% - 220px);  /* Full width minus sidebar width */
    height: 75vh;  /* Adjust vertical height if necessary */
    border: none;
    display: block;
    margin-left: 220px;
}

.cv {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}


/* Add some styling for better viewing of the footer */
footer {
    background-color: #899fc6;
    color: #eeeeee;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #ffcc66; /* Bright color for links */
    text-decoration: none;
}

.profile-pic {
    width: 100px;  /* Adjust size as needed */
    height: 100px;
    border-radius: 75%;  /* Makes it circular */
    object-fit: cover;
    border: 2px solid #fff; /* Optional: border around image */
    box-shadow: 0 0 5px rgba(0,0,0,0.2); /* Optional: subtle shadow */
}

body {
    display: flex;
}

.sidebar {
    width: 220px;
    background-color: #899fc6;
    color: #eeeeee;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
}

.sidebar img.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
    text-align: center;
}

.sidebar nav ul li a {
  color: #eeeeee;
  text-decoration: none;
  padding: 6px 0;
  display: block;
}

.sidebar nav ul li a:hover {
  text-decoration: underline;
}


.main-content {
    margin-left: 220px;  /* same width as sidebar */
    padding: 20px;
}

.badge {
  display: inline-block;
  background-color: #899fc6;
  color: #eeeeee;
  font-weight: bold;
  padding: 4px 10px;
  margin: 4px;
  border-radius: 12px;
  font-size: 0.85rem;
}

.badge-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0;
}

